.listContainer{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.card{
    flex: 1 0 0%;
    width: 20rem;
    margin: auto;
    margin-top: 2.5rem;
}

.button{
    width: 95%;
    background-color: rgb(2, 47, 116);
}

.toastContainer {
    position: fixed; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1050;
}